<%= button_to "Create A Party", new_party_path, method: "get", params: {title: @movie.title, duration: @movie.runtime, api_id: @movie.api_id} %>

<h3> Title: <%= @movie.title %><br></h3><br>
<%= @movie.vote_average %><br>
<%= @movie.runtime %><br>
<%= @movie.overview %>
<%= @movie.reviews.count %><br>
<% @movie.genres.each do |genre| %>
  <%= genre[:name] %>
<% end %><br><br>
<%= render partial: "role", collection: @movie.cast%>

<div class="panels">
  <%= render partial: "review", collection: @movie.reviews %>
</div>
