<h1> Welcome </h1>

<%= form_with url: user_friendships_path(current_user), method: :post, local: true do |form| %>
  <%= form.label "Add/Invite a friend by email." %><br>
  <%= form.text_field :friend %>
  <%= form.submit "Add Friend" %>
<% end %>

<%= render "users/dashboard/friends/panel" %>

<section class="my_parties">
  <%= "Viewing Parties" %>
  <%= render partial: "party", collection: current_user.parties %>
</section>

<section class="parties_im_invited_to">
  <h3> Party Invites </h3>
  <%= render partial: "pending_invite", collection: current_user.guests, as: :guest %>
</section>