<h1 class="text-white font-bold"> Welcome </h1>

<%= form_with url: user_friendships_path(current_user), method: :post, local: true do |form| %>
  <%= form.label "Add/Invite a friend by email.", class: "text-white" %><br>
  <%= form.text_field :email %>
  <%= form.submit "Add Friend", class: "button bg-blue-200 rounded-md mx-10 px-5"  %>
<% end %><br>

<div class="panels container bg-gray-200 w-full mx-auto type-page rounded-lg">
  <div class="grid grid-cols-2 gap-12 md:gap-12 md:grid-cols-2 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
    <section class="my_parties bg-gray-200">
      <header class="flex flex-col items-center bg-gray-200 font-bold rounded-lg text-2xl">
        <%= "My Viewing Parties" %>
      </header>
      <div class="grid grid-cols-2 col-gap-12 md:col-gap-12 md:grid-cols-2 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
        <%= render partial: "party", collection: current_user.parties %>
      </div>
    </section>
    <section class="parties_im_invited_to bg-gray-200">
      <header class="flex flex-col items-center bg-gray-200 font-bold rounded-lg text-2xl">
        <h3> Party Invites </h3>
      </header>
      <div class="grid grid-cols-2 col-gap-12 md:col-gap-12 md:grid-cols-2 rounded-lg scrolling-touch scrollbar-hidden overflow-x-scroll md:overflow-auto mx-6 md:mx-0">
        <%= render partial: "pending_invite", collection: current_user.guests, as: :guest %>
      </div>
    </section>
  </div>        
</div>